
    .breadcrumb { 
      list-style: none; 
      overflow: hidden; 
      font-weight: bold;
      font: 12px Helvetica, Arial, Sans-Serif;
      padding-left: 30px; 

    }
    .breadcrumb ul { 
      padding-left: 150px; 
    }
    .breadcrumb li { 
      float: left; 
    }
    .breadcrumb li a {
      color: white;
      text-decoration: none; 
      padding: 5px 0 5px 55px;
      background: #046f80;                   /* fallback color */
      background: #0a5d6b; 
      position: relative; 
      display: block;
      float: left;
    }
    .breadcrumb li a:after { 
      content: " "; 
      display: block; 
      width: 0; 
      height: 0;
      border-top: 50px solid transparent;           /* Go big on the size, and let overflow hide */
      border-bottom: 50px solid transparent;
      border-left: 30px solid #0a5d6b;
      position: absolute;
      top: 50%;
      margin-top: -50px; 
      left: 100%;
      z-index: 2; 
    } 
    .breadcrumb li a:before { 
      content: " "; 
      display: block; 
      width: 0; 
      height: 0;
      border-top: 50px solid transparent;           /* Go big on the size, and let overflow hide */
      border-bottom: 50px solid transparent;
      border-left: 30px solid #c7e5ea;
      position: absolute;
      top: 50%;
      margin-top: -50px; 
      margin-left: 0px;
      left: 100%;
      z-index: 1; 
    } 
    .breadcrumb li:first-child a {
      padding-left: 10px;
    }
    .breadcrumb li:nth-child(2) a       { background:        #1a6b78; }
    .breadcrumb li:nth-child(2) a:after { border-left-color: #1a6b78; }
    .breadcrumb li:nth-child(3) a       { background:        #2c7b88; }
    .breadcrumb li:nth-child(3) a:after { border-left-color: #2c7b88; }
    .breadcrumb li:nth-child(4) a       { background:        #428c98; }
    .breadcrumb li:nth-child(4) a:after { border-left-color: #428c98; }
    .breadcrumb li:nth-child(5) a       { background:        #5a97a1; }
    .breadcrumb li:nth-child(5) a:after { border-left-color: #5a97a1; }
    .breadcrumb li:last-child a {
      background: #c7e5ea !important;
      color: black;
      pointer-events: none;
      cursor: default;
    }
    .breadcrumb li:last-child a:after { border: 0; }
    .breadcrumb li a:hover { background: #046f80 }
    .breadcrumb li a:hover:after { border-left-color: #046f80 !important; }
    

    /*UNG SA HTML
<ul class="breadcrumb container wrapper"  style="margin-left: 0px;padding-left:0px">
  
  <li><a href="#">Maintenance</a></li>
  <li><a href="#">Patient</a></li>
  <li><a href="#">Patient Allergies</a></li>
  
</ul>
</div>*/